:root {
  --sidebar-width: 115px;
  --sidebar-dark-color: #18191A;
  --sidebar-light-color: #FAFAFA;
  --active-color: #FAF9F6;

  --light-color: #FFFFFF;
  --primary-light-color: rgba(255, 255, 255, .7);
  --dark-color: #18191A;


  --black-bg: #0A0E0F;

  --input-bg: #202426;
  --border-color: rgba(255, 255, 255, .1);

  --chats-sidebar-width: 375px;
  --chats-sidebar-dark-color: #18191A;
}